<!doctype html>
<html lang="en">
{% load static i18n %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Joris de Ruiter">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <title>EnergyPrice</title>
    <link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'eprijzen/eprijzen.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/datatables/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/apexcharts/apexcharts.css' %}"/>

    <script src="{% static 'libs/jquery/jquery-3.6.3.min.js' %}"></script>

    <!-- including datepicker-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- including moment.js -->
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script src="{% static 'libs/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="">ePrijs.nl</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
        </ul>
    </div>
</nav>

<main role="main" class="container mt-3" style="margin-bottom:100px">


    <div class="jumbotron">
        <h1>{% trans "Energy and Gas prices" %}</h1><br>
        <p class="lead">TODO improvements Nazar: </p>
        <ol>
            <li>User can select days, weeks, months. The mean of (day|week}month) is calculated for the graph.</li>
            <li>Show the min, max and mean in an insightful way (in a table or boxplot).</li>
            <li>User can navigate forward and backwards in time (prev/next day|week|month)</li>
        </ol>
    </div>

    <form id="get_energieprijzen_for_country" action="{% url 'show_energyprices' %}" method="GET">
        <div class="row form-group">
            <div class="col-sm-10 col-lg-6">
                <select id="period" name="period" class="form-control" onchange="showInputField()">
                    <!--<option value="today">Today</option>
                    <option value="tomorrow">Tomorrow</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="last_week">Last week</option>
                    <option value="last_month">Last month</option> -->
                    <option value="days">days</option>
                    <option value="weeks">weeks</option>
                    <option value="months">months</option>
                </select>
                <div id="dynamicInput" style="margin-top: 10px;"></div>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default">Get data</button>
            </div>
        </div>
    </form>


                                            <!-- Energy prices data -->
    <div class="arrow left-arrow" onclick="dateDelta(-1, '{{ date }}', '{{ period }}')">&#9665;</div>
    <div class="arrow right-arrow" onclick="dateDelta(1, '{{ date }}', '{{ period }}')">&#9655;</div>

    {% if energy_prices_data %}
        <div id="energy-chart-container">
            <script>
                var energyPricesData = {{ energy_prices_data | safe }};


                var options = {
                      series: [{
                      name: 'XYZ MOTORS',
                      data: {{ energy_prices_data | safe }}
                    }],
                      chart: {
                      type: 'area',
                      stacked: false,
                      height: 350,
                      zoom: {
                        type: 'x',
                        enabled: true,
                        autoScaleYaxis: true
                      },
                      toolbar: {
                        autoSelected: 'zoom'
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    markers: {
                      size: 0,
                    },
                    title: {
                      text: 'Energy price',
                      align: 'left'
                    },
                    fill: {
                      type: 'gradient',
                      gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                      },
                    },
                    xaxis: {
                      type: 'datetime',
                    },
                    tooltip: {
                      shared: false,
                    }
                    };

                    var chart = new ApexCharts(document.querySelector("#energy-chart-container"), options);
                    chart.render();
            </script>
        </div>
    {% endif %}


    <!-- energy prices data table -->

    {% if energyprices %}
        <h1 class="mt-5 mb-2">Energy: NL ({{ period }})</h1>
        <table id="energie_table" class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                {% if period == "days" %}
                    <th>Time</th>
                {% endif %}
                <th>Purchase price</th>
            </tr>
            </thead>
            <tbody>
            {% for e in energyprices %}
            <tr>
                <td>{{ e.date }}</td>
                {% if period == "days" %}
                    <td>{{ e.time }}</td>
                    <td>&euro; {{ e.purchase_price | floatformat:2 }}</td>
                {% else %}
                    <td>&euro; {{ e.average_value | floatformat:2 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


    <!-- energy min_max_mean table -->
    {% if statistics_energy %}
        <table id="energy_statistic_table" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Value</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Min</th>
                    <td>{{ statistics_energy.min.value }}</td>
                    <td>{{ statistics_energy.min.date }}</td>
                    <td>{{ statistics_energy.min.time }}</td>
                </tr>
                <tr>
                    <th scope="row">Max</th>
                    <td>{{ statistics_energy.max.value }}</td>
                    <td>{{ statistics_energy.max.date }}</td>
                    <td>{{ statistics_energy.max.time }}</td>
                </tr>
                <tr>
                    <th scope="row">Mean</th>
                    <td>{{ statistics_energy.mean }}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    {% endif %}



                                            <!-- Gas prices data -->
    {% if gas_prices_data %}
        <div id="gas-chart-container">
            <script>
                var options = {
                      series: [{
                      name: 'XYZ MOTORS',
                      data: {{ gas_prices_data | safe }}
                    }],
                      chart: {
                      type: 'area',
                      stacked: false,
                      height: 350,
                      zoom: {
                        type: 'x',
                        enabled: true,
                        autoScaleYaxis: true
                      },
                      toolbar: {
                        autoSelected: 'zoom'
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    markers: {
                      size: 0,
                    },
                    title: {
                      text: 'Gas price',
                      align: 'left'
                    },
                    fill: {
                      type: 'gradient',
                      gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                      },
                    },
                    xaxis: {
                      type: 'datetime',
                    },
                    tooltip: {
                      shared: false,
                    }
                    };

                    var chart = new ApexCharts(document.querySelector("#gas-chart-container"), options);
                    chart.render();
            </script>
        </div>
    {% endif %}

    {% if gasprices %}

    <h1 class="mt-5 mb-2">Gas: ({{ period }})</h1>
    <table id="gas_table" class="table table-striped mt-5 mb-5">
        <thead>
        <tr>
            <th>Date</th>
            {% if period == "days" %}
                <th>Time</th>
            {% endif %}
            <th>Purchase price</th>
        </tr>
        </thead>
        <tbody>
        {% for g in gasprices %}
        <tr>
            <td>{{ g.date }}</td>
            {% if period == "days" %}
                <td>{{ g.time }}</td>
                <td>&euro; {{ g.purchase_price | floatformat:2 }}</td>
            {% else %}
                <td>&euro; {{ g.average_value | floatformat:2 }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}


    {% if statistics_gas %}
        <table id="gas_statistic_table" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Value</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Min</th>
                    <td>{{ statistics_gas.min.value }}</td>
                    <td>{{ statistics_gas.min.date }}</td>
                    <td>{{ statistics_gas.min.time }}</td>
                </tr>
                <tr>
                    <th scope="row">Max</th>
                    <td>{{ statistics_gas.max.value }}</td>
                    <td>{{ statistics_gas.max.date }}</td>
                    <td>{{ statistics_gas.max.time }}</td>
                </tr>
                <tr>
                    <th scope="row">Mean</th>
                    <td>{{ statistics_gas.mean }}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    {% endif %}


</main>














<footer class="footer">
    <div class="container">
        <span class="text-center">Copyright: 2024 Joris de Ruiter</span>
        <span class="text-center text-muted">- Prijzen via eprijzen.nl</span>
    </div>
</footer>

<!-- Le JavaScript -->
<script src="{% static 'libs/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/datatables/datatables.min.js' %}"></script>
<script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#energie_table').DataTable({ "pageLength": -1});
    });
    $(document).ready(function () {
        $('#gas_table').DataTable({ "pageLength": -1});
    });
    $(document).ready(function() {
        var table = $('#example').DataTable({ "pageLength": -1});
        $('#example_info').text('');
    });

</script>

<script>
  function showInputField(not_selected = true, val = null) {
        if (not_selected) {
            var selectedOption = document.getElementById("period").value;
        } else {
            var selectedOption = val;
        }

        var dynamicInput = document.getElementById("dynamicInput");

        if (selectedOption === "days" || selectedOption === "weeks" || selectedOption === "months") {


            dynamicInput.innerHTML = "";
            // creating input field
            var inputField = document.createElement("input");
            inputField.type = "text";
            inputField.name = "date";
            inputField.id = "dateInput";
            inputField.className = "form-control";
            inputField.setAttribute('autocomplete', 'off');

            // datepicker styles for "days" and "weeks"
            if (selectedOption === "days" || selectedOption === "weeks") {
                inputField.classList.add("datepicker-input");

                $(inputField).datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    show: function () {
                        $(this).val('');
                    }
                });
            }

            // datepicker styles for "months"
            if (selectedOption === "months") {
                inputField.classList.add("datepicker-input");

                $(inputField).datepicker({
                    format: 'yyyy-mm',
                    autoclose: true,
                    show: function () {
                        $(this).val('');
                    },
                    startView: "months",
                    minViewMode: "months",
                });
            }

            // creating labels
            var inputLabel = document.createElement("label");

            if (selectedOption === "days"){
                inputLabel.textContent = "Enter day";
            } else if (selectedOption === "weeks"){
                inputLabel.textContent = "Enter first day of the week";
            } else if (selectedOption === "months"){
                inputLabel.textContent = "Enter month";
            }


            dynamicInput.appendChild(inputLabel);
            dynamicInput.appendChild(inputField);

        }
    }

    {% if period %}
        var selectedOption = document.getElementById("period");
        selectedOption.value = "{{ period }}";
        showInputField(false, "{{ period }}");
        var dateInput = document.getElementById("dateInput");
        dateInput = "{{ date }}";
    {% endif %}
    </script>

    <script>

        function dateDelta(delta, date, period){
            let new_date;
            let formated_date;


            if (period === "days"){
                new_date = moment(date, "YYYY-MM-DD").add(delta, 'days');
                formated_date = new_date.format('YYYY-MM-DD');
            } else if (period === "weeks"){
                new_date = moment(date, "YYYY-MM-DD").add(delta, 'weeks');
                formated_date = new_date.format('YYYY-MM-DD');
            } else if (period === "months"){
                new_date = moment(date, "YYYY-MM").add(delta, 'months');
                formated_date = new_date.format('YYYY-MM');
            }


            let dateInput = document.getElementById('dateInput');
            dateInput.value = formated_date;

            var selectedOption = document.getElementById("period");
            selectedOption.value = "{{ period }}";

            document.getElementById('get_energieprijzen_for_country').submit();
        }

    </script>

</body>
</html>