<!doctype html>
<html lang="en">
{% load static i18n %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Joris de Ruiter">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <title>Energyprice</title>
    <link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'eprijzen/eprijzen.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/datatables/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/apexcharts/apexcharts.css' %}"/>

    <script src="{% static 'libs/jquery/jquery-3.6.3.min.js' %}"></script>

</head>

<body>

<header>
    <div class="bg-dark collapse navbar-collapse hide" id="navbarCollapse" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">{% trans "About" %}</h4>
                    <p class="text-muted">
                        {% trans "Giving live energyprices in NL for consumers and companies." %}</br>
                        {% trans "Contact me to connect your energysystem." %}</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Joris de Ruiter</a</li>
                        <li><a href="mailto:joris@jdruiter.nl" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">ePrijs.nl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main" class="container mt-3" style="margin-bottom:200px">

    <div class="jumbotron">
        <h1>{% trans "Energy and Gas prices (NL)" %}</h1><br>
    </div>

    <form id="get_energieprices" action="" method="GET">
        <div class="row form-group">
            <div class="col-sm-10 col-lg-6">
                <select id="period" name="period" class="form-control">
                    <option value="today">{% trans "Today" %}</option>
                    <option value="3day">{% trans "3 days" %}</option>
                    <option value="last_week">{% trans "Last week" %}</option>
                    <option value="last_month">{% trans "Last month" %}</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default">{% trans "Get data" %}</button>
            </div>
        </div>
    </form>

    {% if energyprices or gasprices %}
    <div class="row">
        <div class="col-lg-6">

            <h2 class="mt-5 mb-2">Energy</h2>
            <table id="energie_table" class="table table-striped table-sm mb-5">
                <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Purchase price" %}</th>
                    <th>{% trans "All in price" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for e in energyprices %}
                <tr>
                    <td>{{ e.date }}</td>
                    <td>{{ e.time }}</td>
                    <td>&euro; {{ e.purchase_price|floatformat:2 }}</td>
                    <td>&euro; {{ e.all_in_price|floatformat:2 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-6">

            <h2 class="mt-5 mb-2">Gas</h2>
            <table id="gas_table" class="table table-striped table-sm mt-5">
                <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Purchase price" %}</th>
                    <th>{% trans "All in price" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for g in gasprices %}
                <tr>
                    <td>{{ g.date }}</td>
                    <td>{{ g.time }}</td>
                    <td>{{ g.purchase_price }}</td>
                    <td>{{ g.all_in_price }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    <section id="chart_energie"></section>
    <section id="chart_gas"></section>
    {% endif %}

</main>

<footer class="footer">
    <div class="container">
        <span class="text-center">Copyright: 2024 Joris de Ruiter</span>
        <span class="text-center text-muted">- Prices via eprijzen.nl</span>
    </div>
</footer>

<!-- Le JavaScript -->
<script src="{% static 'libs/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/datatables/datatables.min.js' %}"></script>
<script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

<script>
    // Show the tables
    $(document).ready(function () {
        $('#energie_table').DataTable( {
            "pageLength": 12,       // Display 24 rows by default
            "lengthChange": false,  // Hide the #entries selector
            "searching": false,
            "pagingType": "simple",
        } );
    });
    $(document).ready(function () {
        $('#gas_table').DataTable({
            "pageLength": 12,       // Display 24 rows by default
            "lengthChange": false,  // Hide the #entries selector
            "searching": false,
            "pagingType": "simple"
        });
    });

    //selectbox show selected one
    $("#period").val( '{{period}}' );

</script>
</body>
</html>