{% extends 'eprijzen/base.html' %}
{% load i18n static %}

{% block chartcontent %}

<script>
    /* Load the data */
    var Data = [];
    var Colors = [];
    {% for label, avg_value, color, line_chart_data in item_spec %}

        var dictionary = {
            x: "{{label}}",
            y: {{avg_value}},
            color: "{{color}}",
            lineChartData: {{line_chart_data}}
        };

        Colors.push("{{color}}");
        Data.push(dictionary);

    {% endfor %}
</script>

<!-- hidden form to store year -->
<form id="hidden-form" method="get" action="{% url 'monthchart' %}">
    <input type="text" id="year" name="year">
</form>

<div id="navigation" class="code-style">
    <div id="previous-year" onclick="timeDelta(-1)"><i class="bi bi-chevron-double-left"></i> previous year</div>
    <div id="next-year" onclick="timeDelta(1)">next year <i class="bi bi-chevron-double-right"></i></div>
</div>


<!-- charts -->
<div style="display: flex;" id="charts">
    <div id="chart-year"></div>
    <div id="chart-quarter"></div>
</div>


<script>
    function updateMonthChart(sourceChart, destChartIDToUpdate) {
        var series = [];
        var seriesIndex = 0;
        var colors = []

        if (sourceChart.w.globals.selectedDataPoints[0]) {
            var selectedPoints = sourceChart.w.globals.selectedDataPoints;
            for (var i = 0; i < selectedPoints[seriesIndex].length; i++) {
                var selectedIndex = selectedPoints[seriesIndex][i];
                var yearSeries = sourceChart.w.config.series[seriesIndex];
                series.push({
                    data: yearSeries.data[selectedIndex].lineChartData
                })
                colors.push(yearSeries.data[selectedIndex].color)
            }

            if (series.length === 0) series = [{
                data: []
            }]
            console.log(series)
            return ApexCharts.exec(destChartIDToUpdate, 'updateOptions', {
                series: series,
                color: "#00F",
            })
        }
    }


    var options = {
        series: [{
            data: Data
        }],
        chart: {
            id: 'barYear',
            height: 400,
            width: '200%',
            type: 'bar',
        },
        plotOptions: {
            bar: {
                distributed: true,
                horizontal: true,
                barHeight: '75%',
                dataLabels: {
                    position: 'bottom'
                }
            }
        },
        dataLabels: {
            enabled: true,
            textAnchor: 'start',
            style: {
                colors: Colors
            },
            formatter: function(val, opt) {
                return opt.w.globals.labels[opt.dataPointIndex]
            },
            offsetX: 0,
            dropShadow: {
                enabled: true
            }
        },

        colors: Colors,

        states: {
            normal: {
                filter: {
                    type: 'desaturate'
                }
            },
            active: {
                allowMultipleDataPointsSelection: false,
                filter: {
                    type: 'darken',
                    value: 1
                }
            }
        },
        tooltip: {
            x: {
                show: false
            },
            y: {
                title: {
                    formatter: function(val, opts) {
                        return opts.w.globals.labels[opts.dataPointIndex]
                    }
                }
            }
        },
        title: {
            text: 'Monthly results for {{ year }}',
            offsetX: 15,
            style: {
                fontSize: '20px',
            },
        },
        subtitle: {
            text: '(Click on bar to see details)',
            offsetX: 15,
            style: {
                fontSize: '16px',
            },
        },
        yaxis: {
            labels: {
                show: false
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart-year"), options);
    chart.render();

    var optionsQuarter = {
        series: [{
            name: 'energy price',
            data: []
        }],
        chart: {
            id: 'barQuarter',
            type: 'area',
            stacked: false,
            width: 700,
            height: 350,
            zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
            },
            toolbar: {
                autoSelected: 'zoom'
            }
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0,
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
            },
        },
        yaxis: {
            title: {
                text: 'Price'
            },
        },
        xaxis: {
            type: 'datetime',
        },
        tooltip: {
            shared: false,
        }
    };

    var chartQuarter = new ApexCharts(document.querySelector("#chart-quarter"), optionsQuarter);
    chartQuarter.render();


    chart.addEventListener('dataPointSelection', function(e, chart, opts) {
        updateMonthChart(chart, 'barQuarter')
    })

    chart.addEventListener('updated', function(chart) {
        updateMonthChart(chart, 'barQuarter')
    })
</script>

<!-- function for the left and right arrows -->
<script>
    function timeDelta(delta){
        var given_year = {{ year }};
        var year_input = document.getElementById("year");
        year_input.value = given_year + delta;
        var form = document.getElementById("hidden-form");
        form.submit();
    }
</script>

{% endblock %}