{% extends 'eprijzen/base.html' %}
{% load i18n static %}

{% block chartcontent %}


<!-- hidden form to store year -->
<form id="hidden-form" method="get" action="{% url 'weekchart' %}">
    <!-- info about start of the week-->
    <input type="text" id="startOfWeek" name="startOfWeek">
</form>

<div id="navigation" class="code-style">
    <div id="previous-week" onclick="timeDelta(-1)"><i class="bi bi-chevron-double-left"></i> previous week</div>
    <div id="next-week" onclick="timeDelta(1)">next week <i class="bi bi-chevron-double-right"></i></div>
</div>


<!-- energy chart -->
<div style="display: flex; margin-top: 40px" id="charts">
    <div id="chart-year-energy"></div>
    <div id="chart-quarter-energy"></div>
</div>

<!-- gas chart -->
<div style="display: flex; margin-top: 40px" id="charts">
    <div id="chart-year-gas"></div>
    <div id="chart-quarter-gas"></div>
</div>


<script>
    // function for making colors
    function generateColorPalette(startColor = "#031B88", endColor = '#FAA7B8', steps) {
        if (steps === 2) return [startColor, endColor]
        const colorScale = chroma.scale([startColor, endColor]).colors(steps);
        return colorScale;
    }

    // function for left bar chart title
    function dateFormatter(){
        let startOfWeek = moment("{{ start_of_week }}", 'YYYY-MM-DDTHH:mm');
        let endOfWeek = startOfWeek.clone().add(6, 'days');

        return startOfWeek.format('D MMM YYYY') + " - " + endOfWeek.format('DD MMM YYYY')
    }

    // collecting data for energy chart
    var customPalette = generateColorPalette(undefined, undefined, {{ number_of_days_energy | safe }});
    var EnergyData = [];
    var ColorsEnergy = [];
    var ind = 0;
    {% for label, avg_value, line_chart_data in energy_data %}

            var dictionary = {
                x: "{{label}}",
                y: {{avg_value | safe}},
                color: customPalette[ind],
                lineChartData: {{line_chart_data}}
            };

            ColorsEnergy.push(customPalette[ind]);
            EnergyData.push(dictionary);
            ind += 1;
    {% endfor %}
</script>


<!-- collecting data for gas chart -->
<script>
    var customPalette = generateColorPalette(undefined, undefined, {{ number_of_days_gas | safe }});
    var GasData = [];
    var ColorsGas = [];
    var ind = 0;
    {% for label, avg_value, line_chart_data in gas_data %}

            var dictionary = {
                x: "{{label}}",
                y: {{avg_value | safe}},
                color: customPalette[ind],
                lineChartData: {{line_chart_data}}
            };

            ColorsGas.push(customPalette[ind]);
            GasData.push(dictionary);
            ind += 1;
    {% endfor %}
</script>


<!-- energy chart -->
<script>
    // function for updating chart options
    function updateMonthChart(sourceChart, destChartIDToUpdate) {
        var series = [];
        var seriesIndex = 0;
        var colors = []

        if (sourceChart.w.globals.selectedDataPoints[0]) {
            var selectedPoints = sourceChart.w.globals.selectedDataPoints;
            for (var i = 0; i < selectedPoints[seriesIndex].length; i++) {
                var selectedIndex = selectedPoints[seriesIndex][i];
                var yearSeries = sourceChart.w.config.series[seriesIndex];
                series.push({
                    data: yearSeries.data[selectedIndex].lineChartData
                })
                colors.push(yearSeries.data[selectedIndex].color)
            }

            if (series.length === 0) {
                series = [{
                    data: []
                }]
                return ApexCharts.exec(destChartIDToUpdate, 'updateOptions', {
                series: series,
            })
            }

            return ApexCharts.exec(destChartIDToUpdate, 'updateOptions', {
                series: series,
                colors: colors,
            })
        }
    }

    // options for left barchart
    var optionsEnergy = {
        series: [{
            data: EnergyData
        }],
        chart: {
            id: 'barYear',
            height: 400,
            width: '200%',
            type: 'bar',
            toolbar: {
                autoSelected: 'zoom',
                tools: {
                    download: false,
                }
            }
        },
        plotOptions: {
            bar: {
                distributed: true,
                horizontal: true,
                barHeight: '75%',
                dataLabels: {
                    position: 'bottom'
                }
            }
        },
        dataLabels: {
            enabled: true,
            textAnchor: 'start',
            style: {
                //colors: Colors
            },
            formatter: function(val, opt) {
                return opt.w.globals.labels[opt.dataPointIndex]
            },
            offsetX: 0,
            dropShadow: {
                enabled: true
            }
        },

        colors: ColorsEnergy,

        states: {
            normal: {
                filter: {
                    type: 'desaturate'
                }
            },
            active: {
                allowMultipleDataPointsSelection: false,
                filter: {
                    type: 'darken',
                    value: 1
                }
            }
        },
        tooltip: {
            x: {
                show: false
            },
            y: {
                title: {
                    formatter: function(val, opts) {
                        return opts.w.globals.labels[opts.dataPointIndex]
                    }
                }
            }
        },
        title: {
            text: 'Energy prices for ' + dateFormatter(),
            offsetX: 0,
            style: {
                fontSize: '20px',
            },
        },
        subtitle: {
            text: '(Click on bar to see details)',
            offsetX: 15,
            style: {
                fontSize: '16px',
            },
        },
        yaxis: {
            labels: {
                show: false
            }
        },
        xaxis: {
        labels: {
            formatter: function (value) {
                return value.toFixed(2);
            }
        }
    },
    };

    var chart = new ApexCharts(document.querySelector("#chart-year-energy"), optionsEnergy);
    chart.render();

        // right bar chart options
        var optionsQuarterEnergy = {
          series: [{
          name: 'energy price',
          data: []
        }],
        chart: {
            id: 'barQuarter',
            type: 'area',
            stacked: false,
            width: 700,
            height: 350,
            zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
            },
            toolbar: {
                autoSelected: 'zoom',
                tools: {
                    pan: false,
                    download: false,
                    selection: false,
                    zoomin: false,
                    zoomout: false,
                    zoom: true,
                }
            }
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0,
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
            },
        },
        yaxis: {
            title: {
                text: 'Price'
            },
        },
        xaxis: {
        type: 'datetime',
          labels: {
              //datetimeUTC: true,
              datetimeFormatter: {
                month: "dd MMM"
              },
          },
        },
        tooltip: {
            shared: false,
        }
    };

    var chartQuarter = new ApexCharts(document.querySelector("#chart-quarter-energy"), optionsQuarterEnergy);
    chartQuarter.render();

    chart.addEventListener('dataPointSelection', function(e, chart, opts) {
        updateMonthChart(chart, 'barQuarter')
    })

    chart.addEventListener('updated', function(chart) {
        updateMonthChart(chart, 'barQuarter')
    })
</script>


<!-- gas chart-->
<script>
// options for left bar chart
var optionsGas = _.cloneDeep(optionsEnergy);
optionsGas.series = [{data: GasData}];
optionsGas.chart.id = 'barYearGas';
optionsGas.colors = ColorsGas;
optionsGas.title.text = 'Gas prices for ' + dateFormatter();

// options for right bar chart
optionsQuarterGas = _.cloneDeep(optionsQuarterEnergy);
optionsQuarterGas.chart.id = 'barQuarterGas';

var chartGas = new ApexCharts(document.querySelector("#chart-year-gas"), optionsGas);
chartGas.render();

var chartQuarterGas = new ApexCharts(document.querySelector("#chart-quarter-gas"), optionsQuarterGas);
chartQuarterGas.render();

chartGas.addEventListener('dataPointSelection', function (e, chart, opts) {
    updateMonthChart(chart, 'barQuarterGas')})

chartGas.addEventListener('updated', function (chart) {
    updateMonthChart(chart, 'barQuarterGas')})
</script>


<!-- function for the left and right arrows -->
<script>
    function timeDelta(delta){
        let given_date = "{{ start_of_week }}";
        let momentObj = moment(given_date, 'YYYY-MM-DDTHH:mm');
        let shiftedDate = momentObj.add(delta, 'week');

        var date_input = document.getElementById("startOfWeek");
        date_input.value = shiftedDate.format('YYYY-MM-DDTHH:mm');

        var form = document.getElementById("hidden-form");
        form.submit();
    }
</script>

{% endblock %}