{% extends 'eprijzen/base.html' %}
{% load i18n static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'barchart/barchart.css' %}">
{% endblock %}


{% block chartcontent %}

<div id="intro-text" class="container">
    <p>{% trans "Click on bars to see the years details." %} </p>
    <p><small>{% trans "Prices incl. all taxes (ODE, EB and BTW)" %}</small></p>
</div>

<!-- energy chart -->
{% if energy_data %}
<div style="display: flex; margin-top:40px;">
    <div id="chart-year-energy"></div>
    <div id="chart-quarter-energy"></div>
</div>
{% endif %}

<!-- gas chart -->
{% if gas_data %}
<div style="display: flex; margin-top:40px;">
    <div id="chart-year-gas"></div>
    <div id="chart-quarter-gas"></div>
</div>
{% endif %}

<!-- collecting data for energy chart -->
<script>
    // function for making colors
    function generateColorPalette(startColor = "#031B88", endColor = '#FAA7B8', steps) {
        return chroma.scale([startColor, endColor]).colors(steps);
    }

    var customPalette = generateColorPalette(undefined, undefined, {{ number_of_years_energy | safe }});
    var EnergyData = [];
    var ColorsEnergy = [];
    var ind = 0;
    {% for label, c, month_price, label_val in energy_data %}
        var label_val = {{ label_val | safe }};

        var quarter = [];
        for (var i = 0; i < label_val.length; i++) {
            var d = {
                x: label_val[i][0],
                y: label_val[i][1]
            };
            quarter.push(d);
        }

        var dictionary = {
                x: "{{label}}",
                y: {{month_price}},
                color: customPalette[ind],
                quarters: quarter
            };

        ColorsEnergy.push(customPalette[ind]);
        EnergyData.push(dictionary)
        ind += 1;
    {% endfor %}

</script>

<!-- collecting data for gas chart -->
<script>
    var customPaletteGas = generateColorPalette(undefined, undefined, 7);
    var GasData = [];
    var ColorsGas = [];
    var ind = 0;
    {% for label, c, month_price, label_val in gas_data %}
        var label_val = {{ label_val | safe }};

        var quarter = [];
        for (var i = 0; i < label_val.length; i++) {
            var d = {
                x: label_val[i][0],
                y: label_val[i][1]
            };
            quarter.push(d);
        }

        var dictionary = {
                x: "{{label}}",
                y: {{month_price}},
                color: customPaletteGas[ind],
                quarters: quarter
            };

        ColorsGas.push(customPaletteGas[ind]);
        GasData.push(dictionary)
        ind += 1;
    {% endfor %}
</script>


<!-- Energy chart-->
<script>
    // function for updating parameters
    function updateMonthChart(sourceChart, destChartIDToUpdate) {
        var series = [];
        var seriesIndex = 0;
        var colors = [];

        if (sourceChart.w.globals.selectedDataPoints[0]) {
            var selectedPoints = sourceChart.w.globals.selectedDataPoints;
            for (var i = 0; i < selectedPoints[seriesIndex].length; i++) {
                var selectedIndex = selectedPoints[seriesIndex][i];
                var yearSeries = sourceChart.w.config.series[seriesIndex];
                series.push({
                    name: yearSeries.data[selectedIndex].x,
                    data: yearSeries.data[selectedIndex].quarters
                })
                colors.push(yearSeries.data[selectedIndex].color)

            }

            if (series.length === 0) series = [{
                data: []
            }]
            return ApexCharts.exec(destChartIDToUpdate, 'updateOptions', {
                series: series,
                colors: colors,
                fill: {
                    colors: colors
                }
            })
        }
    }

    // options for left bar chart
         var optionsEnergy = {
          series: [{
          data: EnergyData
        }],
          chart: {
          id: 'barYearEnergy',
          height: 400,
          width: '200%',
          type: 'bar',
        },
        plotOptions: {
          bar: {
            distributed: true,
            horizontal: true,
            barHeight: '75%',
            dataLabels: {
              position: 'bottom'
            }
          }
        },
        fill: {
           opacity: 0.8
        },
        dataLabels: {
          enabled: true,
          textAnchor: 'start',
          style: {
            //colors: Colors
          },
          formatter: function (val, opt) {
            return opt.w.globals.labels[opt.dataPointIndex]
          },
          offsetX: -20,
          dropShadow: {
            enabled: true
          }
        },

        colors: ColorsEnergy,

        states: {
          normal: {
            filter: {
              type: 'desaturate'
            }
          },
          active: {
            allowMultipleDataPointsSelection: false,
            filter: {
              type: 'darken',
              value: 1
            }
          }
        },
        tooltip: {
          x: {
            show: false
          },
          y: {
            title: {
              formatter: function (val, opts) {
                return opts.w.globals.labels[opts.dataPointIndex]
              }
            }
          }
        },
        title: {
          text: 'Yearly Energy Prices',
          offsetX: 15
        },
        subtitle: {
          text: '(Click on bar to see details)',
          offsetX: 15
        },
        yaxis: {
          labels: {
            show: false
          }
        },
        xaxis: {
        labels: {
            formatter: function (value) {
                return value.toFixed(2);
            }
        }
    },
        };

        var chart = new ApexCharts(document.querySelector("#chart-year-energy"), optionsEnergy);
        chart.render();

    // options for right bar chart
        var optionsQuarter = {
          series: [{
          data: []
        }],
          chart: {
          id: 'barQuarterEnergy',
          height: 400,
          width: '300%',
          type: 'bar',
          stacked: false
        },
        plotOptions: {
          bar: {
            columnWidth: '50%',
            horizontal: false
          }
        },
        legend: {
          show: false
        },
        grid: {
          yaxis: {
            lines: {
              show: false,
            }
          },
          xaxis: {
            lines: {
              show: true,
            }
          }
        },
        yaxis: {
          labels: {
            show: false
          }
        },
        title: {
          text: 'Monthly Energy Prices',
          offsetX: 10
        },
        colors: ColorsEnergy,
        tooltip: {
          x: {
            formatter: function (val, opts) {
              return opts.w.globals.seriesNames[opts.seriesIndex]
            }
          },
          y: {
            title: {
              formatter: function (val, opts) {
                return opts.w.globals.labels[opts.dataPointIndex]
              }
            }
          }
        },
        };

        var chartQuarter = new ApexCharts(document.querySelector("#chart-quarter-energy"), optionsQuarter);
        chartQuarter.render();


        chart.addEventListener('dataPointSelection', function (e, chart, opts) {
        updateMonthChart(chart, 'barQuarterEnergy')
      })

      chart.addEventListener('updated', function (chart) {
            updateMonthChart(chart, 'barQuarterEnergy')
      })
</script>

<!-- Gas chart-->
<script>
// options for left bar chart
var optionsGas = _.cloneDeep(optionsEnergy);
optionsGas.series = [{data: GasData}];
optionsGas.chart.id = 'barYearGas';
optionsGas.colors = ColorsGas;
optionsGas.title.text = 'Yearly Gas Prices';

// options for right bar chart
optionsQuarterGas = _.cloneDeep(optionsQuarter);
optionsQuarterGas.chart.id = 'barQuarterGas';
optionsQuarterGas.title.text = 'Monthly Gas Prices';
optionsQuarterGas.colors = ColorsGas;

var chartGas = new ApexCharts(document.querySelector("#chart-year-gas"), optionsGas);
chartGas.render();

var chartQuarterGas = new ApexCharts(document.querySelector("#chart-quarter-gas"), optionsQuarterGas);
chartQuarterGas.render();

chartGas.addEventListener('dataPointSelection', function (e, chart, opts) {
    updateMonthChart(chart, 'barQuarterGas')})

chartGas.addEventListener('updated', function (chart) {
    updateMonthChart(chart, 'barQuarterGas')})
</script>

{% endblock %}